{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - New tool' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'mytools' %}

{# overwrite the css block #}
{% block css %}

    <link href="{{ app.request.baseUrl }}/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <style>

        div.error-output {
            color: #a94442;
        }
        div.datepicker {
            max-width: 400px;
        }
        form > div.row {
            margin-bottom: 20px;
        }
        div.numeric {
            max-width: 100px;
        }

    </style>

{% endblock %}

{# overwrite the js block #}
{% block js %}

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea'});</script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/moment.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('profile.details', {profileId: user.id}) }}">My Tools</a></li>
            <li class="active">New Tool</li>
        </ol>

        <div class="page-header">
            <h1>New Tool</h1>
        </div>

        <div class="col-lg-7 col-md-8 col-sm-9">

            {% if not addform.vars.valid %}
                <div class="row">
                    <div class="col-md-11">
                        <div class="alert alert-danger">The form contains errors. Please fix these and try again</div>
                    </div>
                </div>
            {% endif %}

            <form action="{{ path('tools.add') }}" method="post" {{ form_enctype(addform) }} novalidate="novalidate" role="form">

                <div class="row">
                    <div class="form-group col-md-11 {% if not addform.name.vars.valid %}has-error{% endif %}">
                        {{ form_label(addform.name) }}
                        {{ form_widget(addform.name, { 'attr' : { 'class': 'form-control', 'placeholder': 'Name' }} ) }}
                        {% if not addform.name.vars.valid %}
                            {% for error in addform.name.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-11 {% if not addform.description.vars.valid %}has-error{% endif %}">
                        {{ form_label(addform.description) }}
                        {{ form_widget(addform.description, { 'attr' : { 'class': 'form-control', 'rows' : 10, 'placeholder': 'Description' }} ) }}
                        {% if not addform.description.vars.valid %}
                            <div class="error-output">
                                {% for error in addform.description.vars.errors %}
                                    <small>{{ error.message|trans|capitalize }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6 {% if not addform.start_date.vars.valid %}has-error{% endif %}">
                        {{ form_label(addform.start_date, 'Available from') }}
                        <div class="row">
                            <div class="col-md-10 datepicker">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type="text" id="addform_start_date" name="addform[start_date]"
                                           required="required" class="form-control" value="{{ addform.start_date.vars.value }}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        {% if not addform.start_date.vars.valid %}
                            {% for error in addform.start_date.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-sm-6 {% if not addform.end_date.vars.valid %}has-error{% endif %}">
                        {{ form_label(addform.end_date, 'Till') }}
                        <div class="row">
                            <div class="col-md-10 datepicker">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type="text" id="addform_end_date" name="addform[end_date]"
                                           required="required" class="form-control" value="{{ addform.end_date.vars.value }}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        {% if not addform.end_date.vars.valid %}
                            {% for error in addform.end_date.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6 {% if not addform.price_day.vars.valid %}has-error{% endif %}">
                        <label for="addform_price_day" class="required">Price per day <small>(euro)</small></label>
                        <div class="row">
                            <div class="col-xs-8 numeric"">
                                <input type="text" id="addform_price_day" name="addform[price_day]" required="required"
                                       value="{{ addform.price_day.vars.value ? addform.price_day.vars.value : '0.00' }}" class="form-control"/>
                            </div>
                        </div>
                        {% if not addform.price_day.vars.valid %}
                            {% for error in addform.price_day.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_label(addform.categories) }}
                        </div>

                        <div id="addform_categories" class="col-xs-12">
                            {% for categorie in addform.categories.vars.choices %}
                                {% if (loop.index0 % 4) == 0 %} <div class="col-sm-6"> {% endif %}
                                <div class="checkbox">
                                    <label for="addform_categories{{ loop.index0 }}">
                                        <input type="checkbox" id="addform_categories_{{ loop.index0 }}" name="addform[categories][]" value="{{ categorie.value }}"
                                                {% if categorie.value in addform.categories.vars.data %} checked="checked" {% endif %}>
                                        {{ categorie.label }}
                                    </label>
                                </div>
                                {% if (loop.index % 4 == 0 or loop.last) %} </div> {% endif %}
                            {% endfor %}
                        </div>

                        {% if not addform.categories.vars.valid %}
                            <div class="col-xs-12 error-output">
                                {% for error in addform.categories.vars.errors %}
                                    <small>{{ error.message|trans|capitalize }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-xs-12 col-md-11 {% if not addform.images.vars.valid %}has-error{% endif %}">
                        <label for="addform_images" class="required">Upload image(s) <small>(Optional)</small></label>
                        <input type="file" id="addform_images" name="addform[images][]" required="required" multiple="multiple" class="form-control">
                        <p class="help-block">Only jpg images allowed. Maximum 3 images. (Max file size = 1MB)</p>
                    </div>
                </div>

                {{ form_widget(addform._token) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>

    {% block jq %}
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    pickTime: false,
                    format: 'DD/MM/YYYY'
                });
                $('#datetimepicker2').datetimepicker({
                    pickTime: false,
                    format: 'DD/MM/YYYY'
                });
                $("#datetimepicker1").on("dp.change",function (e) {
                    $('#datetimepicker2').data("DateTimePicker").setMinDate(e.date);
                });
                $("#datetimepicker2").on("dp.change",function (e) {
                    $('#datetimepicker1').data("DateTimePicker").setMaxDate(e.date);
                });
            });
        </script>
    {% endblock %}

{% endblock %}