{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - ' ~ tool.name %}

{# set the active navigation item in the parent tpl #}
{% if user is null %}
    {% set navActive = 'tools' %}
{% elseif tool.owner_id != user.id %}
    {% set navActive = 'tools' %}
{% else %}
    {% set navActive = 'mytools' %}
{% endif %}

{# overwrite the css block #}
{% block css %}

    <link href="{{ app.request.baseUrl }}/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

    <style>

        p#location {
            margin-bottom: 15px;
        }
        div.content-block {
            max-width: 670px;
        }
        div#carousel-container {
            max-width: 443px;
        }
        div#carousel {
            max-width: 420px;
        }
        img.carousel-image {
            margin: 0 auto;
            width: 100%;
        }
        div.carousel-thumb > img {
            cursor: pointer;
        }
        div.carousel-thumb > img:first-of-type {
            margin-bottom: 12px;
        }
        div#tool-details {
            margin-top: 15px;
            max-width: 443px;
        }
        div#reservation-info {
            margin-top: 15px;
            max-width: 280px;
        }
        div#tool-price {
            font-size: 14px;
            min-width: 195px;
        }
        div#tool-available {
            min-width: 195px;
        }
        div#reservation {
            margin-top: 15px;
        }
        div.datepicker {
            max-width: 400px;
        }
        div.similar {
            margin-bottom: 40px;
        }
        div.similar img {
            max-width: 185px;
        }
        img.advert {
            margin-left: 20px;
        }
        img.advert:first-of-type {
            margin-bottom: 40px;
        }

    </style>

{% endblock %}

{# overwrite the js block #}
{% block js %}

    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/moment.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}


{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        {% if user is null %}
            <li><a href="{{ path('tools.overview') }}">Tools</a></li>
        {% elseif tool.owner_id != user.id %}
            <li><a href="{{ path('tools.overview') }}">Tools</a></li>
        {% else %}
            <li><a href="{{ path('profile.details', {profileId: user.id}) }}">My Tools</a></li>
        {% endif %}
            <li class="active">{{ tool.name|capitalize }}</li>
    </ol>

    <div class="page-header">
        <h1>{{ tool.name|capitalize }}
           <small>Owner: <a href="{{ path('profile.details', { 'profileId': tool.owner_id } ) }}">
                {{ tool.firstname|capitalize ~ ' ' ~ tool.lastname|capitalize }}</a></small>
        </h1>
    </div>


    <p class="col-sm-12" id="location">
        <strong>Location:</strong>
        <a href="{{ path('tools.overview') ~ '?filter=' ~ tool.code|url_encode }}">{{ tool.city }}</a>
        (<a href="{{ path('tools.overview') ~ '?filter=' ~ tool.province|url_encode }}">{{ tool.province }}</a>)
    </p>

    <div class="col-lg-7 col-md-9 col-sm-10 content-block">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" id="carousel-container">
                <div id="carousel" class="carousel slide img-rounded" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        {% for image in tool.images %}
                            <li data-target="#carousel"
                                data-slide-to="{{ loop.index0 }}" {{ loop.index0 == 0 ? 'class="active"' }}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in tool.images %}
                            <div class="item {{ loop.index0 == 0 ? 'active' }}" style="width: 420px; height: 280px">
                                <img src="{{ app.request.baseurl }}{{ image }}" alt="slide {{ image }}" class="carousel-image">
                            </div>
                        {% endfor %}

                    </div>
                    <a class="left carousel-control" href="#carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            {% if tool.images|length > 1 %}
                <div class="carousel-thumb col-lg-4 col-md-4 col-sm-4 hidden-xs">
                    <img src="{{ app.request.baseurl }}{{ tool.images[1] }}" data-target="#carousel" data-slide-to="1"
                         width="195" height="134" />
                    <img src="{{ app.request.baseurl }}{{ tool.images[2] is defined ? tool.images[2] : tool.images[0] }}"
                         data-target="#carousel" data-slide-to="{{ tool.images[2] is defined ? 2 : 0 }}"
                         width="195" height="134" />
                </div>
            {% endif %}
        </div>


        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" id="tool-details">
                <h4>Categories</h4>

                <p>
                    {% for categorie in tool.categories %}
                        <a href="{{ path('tools.overview') ~ '?filter=' ~ categorie|url_encode }}">{{ categorie }}</a> {{ ( not loop.last ? ', ' : '' ) }}
                    {% endfor %}
                </p>

                <h3>Description</h3>

                <div>
                    {{ tool.description|raw }}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" id="reservation-info">
                <div class="alert bg-primary" id="tool-price">
                    <strong>Cost per day:</strong> {{ tool.price_day == 0 ? 'Free' :  tool.price_day|number_format(2) ~ ' €' }}
                </div>
                <div class="panel panel-default" id="tool-available">
                    <div class="panel-heading">
                        <h2 class="panel-title">Available:</h2>
                    </div>
                    <ul class="list-group">
                    {% for range in ranges|slice(0, 5) %}
                        {% if loop.index == 4 and ranges|length > 5 %}
                            <li class="list-group-item"><strong>...</strong></li>
                        {% elseif loop.index == 5 and ranges|length > 5 %}
                            <li class="list-group-item">{{ ranges|last.start_date|date('d/m/Y') }}
                                <strong>-</strong> {{ ranges|last.end_date|date('d/m/Y') }}</li>
                        {% else %}
                            <li class="list-group-item">{{ range.start_date|date('d/m/Y') }}
                                <strong>-</strong> {{ range.end_date|date('d/m/Y') }}</li>
                        {% endif %}
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% if reservationform or user is null %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 content-block" id="reservation">
                    <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">Reservation</h2>
                            </div>
                            <div class="panel-body">
                                {% if reservationform %}
                                    <p>
                                        You can request a reservation for this tool. If the owner accepts the request
                                        we will exchange your address and contact information.
                                    </p>

                                {% if not reservationform.vars.valid %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-danger">The form contains errors. Please fix these and try again</div>
                                        </div>
                                    </div>
                                {% endif %}

                                <form action="{{ path('tools.detail', { 'toolId': tool.id }) }}"
                                          method="post" {{ form_enctype(reservationform) }} novalidate="novalidate"
                                          role="form">

                                        <div class="row">
                                            <div class="form-group col-sm-6 {% if not reservationform.start_date.vars.valid %}has-error{% endif %}">
                                                {{ form_label(reservationform.start_date) }}
                                                <div class="row">
                                                    <div class="col-md-10 datepicker">
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            <input type="text" id="reservationform_start_date"
                                                                   name="reservationform[start_date]"
                                                                   required="required" class="form-control"
                                                                   value="{{ reservationform.start_date.vars.value }}">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if not reservationform.start_date.vars.valid %}
                                                    {% for error in reservationform.start_date.vars.errors %}
                                                        <small>{{ error.message|trans|capitalize }}</small>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-sm-6 {% if not reservationform.end_date.vars.valid %}has-error{% endif %}">
                                                {{ form_label(reservationform.end_date) }}
                                                <div class="row">
                                                    <div class="col-md-10 datepicker">
                                                        <div class='input-group date' id='datetimepicker2'>
                                                            <input type="text" id="reservationform_end_date"
                                                                   name="reservationform[end_date]"
                                                                   required="required" class="form-control"
                                                                   value="{{ reservationform.end_date.vars.value }}">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if not reservationform.end_date.vars.valid %}
                                                    {% for error in reservationform.end_date.vars.errors %}
                                                        <small>{{ error.message|trans|capitalize }}</small>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 {% if not reservationform.message.vars.valid %}has-error{% endif %}">
                                                {{ form_label(reservationform.message) }}
                                                {{ form_widget(reservationform.message, { 'attr' : { 'class': 'form-control', 'rows': '4' }} ) }}
                                                {% if not reservationform.message.vars.valid %}
                                                    {% for error in reservationform.message.vars.errors %}
                                                        <small>{{ error.message|trans|capitalize }}</small>
                                                    {% endfor %}
                                                {% endif %}
                                                <p class="help-block">Maximum 255 characters.</p>
                                            </div>
                                        </div>

                                        {{ form_widget(reservationform._token) }}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                {% else %}
                                    <p>
                                        Registered users can make reservations for tools and manage a tool library
                                        of their own.
                                        Get started today!
                                    </p>
                                    <p><a class="btn btn-primary" role="button" href="{{ path('auth.register') }}">
                                        Register now
                                    </a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 content-block">
                        <h4>Similar tools</h4>
                        <div class="row">
                            {% for similartool in similartools %}
                                <div class="col-sm-4 similar">
                                    <a href="{{ path('tools.detail', { 'toolId': similartool.id }) }}">
                                        <img class="img-rounded img-responsive"
                                             src="{{ app.request.baseurl }}{{ similartool.image }}">
                                    </a>
                                    <a href="{{ path('tools.detail', { 'toolId': similartool.id }) }}">
                                        <h4>{{ similartool.name }}</h4></a>
                                    <p>
                                        Cost per day:
                                        <strong>{{ similartool.price_day == 0 ? 'Free' :  similartool.price_day|number_format(2) ~ ' €' }}</strong>
                                    </p>
                                    <p>
                                        City: <a
                                            href="{{ path('tools.overview') ~ '?filter=' ~ similartool.code|url_encode }}">{{ similartool.city }}</a><br/>
                                        Province: <a
                                            href="{{ path('tools.overview') ~ '?filter=' ~ similartool.province|url_encode }}">{{ similartool.province }}</a>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 hidden-sm hidden-xs">
                <a href="http://www.google.com"><img src="http://placehold.it/190x320&text=ad" class="advert" /></a>
                <a href="http://www.google.com"><img src="http://placehold.it/190x320&text=ad" class="advert" /></a>
            </div>
{% endblock %}

{% block jq %}

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                pickTime:false,
                format:'DD/MM/YYYY',
                enabledDates: {{ period|json_encode|raw }}
            });
            $('#datetimepicker2').datetimepicker({
                pickTime:false,
                format:'DD/MM/YYYY',
                enabledDates: {{ period|json_encode|raw }}
            });
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").setMinDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").setMaxDate(e.date);
            });
        });
</script>

{% endblock %}