{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - ' ~ toolName ~ ' - Edit' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'mytools' %}

{# overwrite the css block #}
{% block css %}

    <link href="{{ app.request.baseUrl }}/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <style>

        div.error-output {
            color: #a94442;
        }
        div.datepicker {
            max-width: 400px;
        }
        form > div.row {
            margin-bottom: 20px;
        }
        div.numeric {
            max-width: 100px;
        }
        img.img-thumbnail {
            height:100px;
        }

    </style>

{% endblock %}

{# overwrite the js block #}
{% block js %}

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea'});</script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/moment.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('profile.details', {profileId: user.id}) }}">My Tools</a></li>
            <li><a href="{{ path('tools.detail', {toolId: toolId}) }}">{{ toolName }}</a></li>
            <li class="active">Edit Tool</li>
        </ol>

        <div class="page-header">
            <h1>Edit Tool</h1>
        </div>

        <div class="col-lg-7 col-md-8 col-sm-9">

            {% if not editform.vars.valid %}
                <div class="row">
                    <div class="col-md-11">
                        <div class="alert alert-danger">The form contains errors. Please fix these and try again</div>
                    </div>
                </div>
            {% endif %}

            <form action="{{ path('tools.edit', { 'toolId': toolId} ) }}" method="post" {{ form_enctype(editform) }} novalidate="novalidate" role="form">

                <div class="row">
                    <div class="form-group col-md-11 {% if not editform.name.vars.valid %}has-error{% endif %}">
                        {{ form_label(editform.name) }}
                        {{ form_widget(editform.name, { 'attr' : { 'class': 'form-control', 'placeholder': 'Name' }} ) }}
                        {% if not editform.name.vars.valid %}
                            {% for error in editform.name.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-11 {% if not editform.description.vars.valid %}has-error{% endif %}">
                        {{ form_label(editform.description) }}
                        {{ form_widget(editform.description, { 'attr' : { 'class': 'form-control', 'rows' : 10, 'placeholder': 'Description' }} ) }}
                        {% if not editform.description.vars.valid %}
                            {% for error in editform.description.vars.errors %}
                                <div class="error-output">
                                    {% for error in editform.description.vars.errors %}
                                        <small>{{ error.message|trans|capitalize }}</small>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6 {% if not editform.start_date.vars.valid %}has-error{% endif %}">
                        {{ form_label(editform.start_date, 'Available from') }}
                        <div class="row">
                            <div class="col-md-10 datepicker">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type="text" id="editform_start_date" name="editform[start_date]"
                                           required="required" class="form-control" value="{{ editform.start_date.vars.value }}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        {% if not editform.start_date.vars.valid %}
                            {% for error in editform.start_date.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group col-sm-6 {% if not editform.end_date.vars.valid %}has-error{% endif %}">
                        {{ form_label(editform.end_date, 'Till') }}
                        <div class="row">
                            <div class="col-md-10 datepicker">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type="text" id="editform_end_date" name="editform[end_date]"
                                           required="required" class="form-control" value="{{ editform.end_date.vars.value }}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        {% if not editform.end_date.vars.valid %}
                            {% for error in editform.end_date.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6 {% if not editform.price_day.vars.valid %}has-error{% endif %}">
                        <label for="editform_price_day" class="required">Price per day <small>(euro)</small></label>
                        <div class="row">
                            <div class="col-xs-8 numeric">
                                <input type="text" id="editform_price_day" name="editform[price_day]" required="required"
                                       value="{{ editform.price_day.vars.value ? editform.price_day.vars.value : '0.00' }}" class="form-control"/>
                            </div>
                        </div>
                        {% if not editform.price_day.vars.valid %}
                            {% for error in editform.price_day.vars.errors %}
                                <small>{{ error.message|trans|capitalize }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_label(editform.categories) }}
                        </div>

                        <div id="editform_categories" class="col-xs-12">
                            {% for categorie in editform.categories.vars.choices %}
                                {% if (loop.index0 % 4) == 0 %} <div class="col-sm-6"> {% endif %}
                                <div class="checkbox">
                                    <label for="editform_categories{{ loop.index0 }}">
                                        <input type="checkbox" id="editform_categories_{{ loop.index0 }}" name="editform[categories][]" value="{{ categorie.value }}"
                                                {% if categorie.value in editform.categories.vars.data %} checked="checked" {% endif %}>
                                        {{ categorie.label }}
                                    </label>
                                </div>
                                {% if (loop.index % 4 == 0 or loop.last) %} </div> {% endif %}
                            {% endfor %}
                        </div>

                        {% if not editform.categories.vars.valid %}
                            <div class="col-xs-12 error-output">
                                {% for error in editform.categories.vars.errors %}
                                    <small>{{ error.message|trans|capitalize }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-11 {% if not editform.addImages.vars.valid %}has-error{% endif %}">
                        <label for="editform_addImages" class="required">Upload image(s) <small>(Optional)</small></label>
                        <input type="file" id="editform_addImages" name="editform[addImages][]" required="required" multiple="multiple" class="form-control">
                        <p class="help-block">Only jpg addImages allowed. Maximum 3 images. (Max file size = 1MB)</p>
                    </div>
                </div>

                {% if editform.deleteImages.vars.choices %}
                    <div class="row">
                        <div class="form-group col-xs-12 {% if not editform.deleteImages.vars.valid %}has-error{% endif %}"">

                            {{ form_label(editform.deleteImages) }}

                            <div id="editform_deleteImages">
                                {% for choice in editform.deleteImages.vars.choices %}
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="editform_deleteImages_{{ loop.index0 }}" name="editform[deleteImages][]" value="{{ choice.value }}">
                                        <label for="editform_deleteImages_{{ loop.index0 }}">
                                            <img src="{{ app.request.baseUrl }}{{ choice.label }}" alt="{{ choice.value }}"
                                                 title="{{ choice.value }}" class="img-thumbnail"/>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {{ form_widget(editform._token) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    {% block jq %}
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    pickTime: false,
                    format: 'DD/MM/YYYY'
                });
                $('#datetimepicker2').datetimepicker({
                    pickTime: false,
                    format: 'DD/MM/YYYY'
                });
                $("#datetimepicker1").on("dp.change",function (e) {
                    $('#datetimepicker2').data("DateTimePicker").setMinDate(e.date);
                });
                $("#datetimepicker2").on("dp.change",function (e) {
                    $('#datetimepicker1').data("DateTimePicker").setMaxDate(e.date);
                });
            });
        </script>
    {% endblock %}

{% endblock %}