{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - Tools' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'tools' %}

{# overwrite the css block #}
{% block css %}

    <style>

        div.media-list > div.row > p {
            margin-bottom: 20px;
        }
        div.result-entry {
            padding-top: 20px;
            margin-bottom: 10px;
            border-top: solid #d3d3d3 1px;
        }
        div.result-entry > div:first-of-type {
            margin-bottom: 10px;
        }

    </style>

{% endblock %}

{# overwrite the js block #}
{% block js %}

    <link href="{{ app.request.baseUrl }}/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/moment.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li class="active">Tools</li>
    </ol>

    <div class="page-header">
        <h1>Tools</h1>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
        <form action="{{ path('tools.overview') }}" method="post" {{ form_enctype(searchform) }} novalidate="novalidate" role="form">
            <div class="form-group row {% if not searchform.name.vars.valid %}has-error{% endif %}">
                {{ form_label(searchform.name, 'Search field', { 'label_attr': {'class': 'sr-only'} } ) }}
                <div class="col-md-10">
                {{ form_widget(searchform.name, { 'attr' : { 'class': 'form-control', 'placeholder': 'Search' } } ) }}
                </div>
            </div>

            {{ form_widget(searchform._token) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <div class="form-group">
                {{ form_label(searchform.city) }}
                <div class="row">
                    <div class="col-md-10">
                        {{ form_widget(searchform.city, { 'attr' : { 'class': 'form-control', 'placeholder': 'City / Postal code' } } ) }}
                    </div>
                </div>
            </div>
            <div class="form-group {% if not searchform.start_date.vars.valid %}has-error{% endif %}">
                {{ form_label(searchform.start_date, 'Available from') }}
                <div class="row">
                    <div class="col-md-10">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type="text" id="searchform_start_date" name="searchform[start_date]"
                                    required="required" class="form-control" value="{{ searchform.start_date.vars.value }}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                        </div>
                    </div>
                </div>
                {% if not searchform.start_date.vars.valid %}
                    {% for error in searchform.start_date.vars.errors %}
                        <small>{{ error.message|trans|capitalize }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if not searchform.end_date.vars.valid %}has-error{% endif %}">
                {{ form_label(searchform.end_date, 'Available till') }}
                <div class="row">
                    <div class="col-md-10">
                        <div class='input-group date' id='datetimepicker2'>
                        <input type="text" id="searchform_end_date" name="searchform[end_date]"
                               required="required" class="form-control" value="{{ searchform.end_date.vars.value }}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                            </div>
                    </div>
                </div>
                {% if not searchform.end_date.vars.valid %}
                    {% for error in searchform.end_date.vars.errors %}
                        <small>{{ error.message|trans|capitalize }}</small>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form_label(searchform.max_cost, 'Price') }}
                <div class="row">
                    <div class="col-md-10">
                        {{ form_widget(searchform.max_cost, { 'attr' : { 'class': 'form-control' } } ) }}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <h4 class="panel-title">
                                    Filters
                                    <span class="glyphicon glyphicon-list pull-right"></span>
                                </h4>
                            </a>

                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_label(searchform.categories) }}
                                    <div id="searchform_categories">
                                        {% for categorie in searchform.categories.vars.choices %}
                                            <div class="checkbox">
                                                <label for="searchform_categories{{ loop.index0 }}">
                                                    <input type="checkbox" id="searchform_categories_{{ loop.index0 }}"
                                                           name="searchform[categories][]" value="{{ categorie.value }}"
                                                            {% if categorie.value in searchform.categories.vars.data %} checked="checked" {% endif %}>
                                                    {{ categorie.label }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(searchform.provinces) }}
                                    <div id="searchform_provinces">
                                        {% for province in searchform.provinces.vars.choices %}
                                            <div class="checkbox">
                                                <label for="searchform_provinces{{ loop.index0 }}">
                                                    <input type="checkbox" id="searchform_provinces_{{ loop.index0 }}"
                                                           name="searchform[provinces][]" value="{{ province.value }}"
                                                            {% if province.value in searchform.provinces.vars.data %} checked="checked" {% endif %}>
                                                    {{ province.label }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="media-list">

            <div class="row">
                <p  class="text-center">
                    <small>{{ numitems }} results</small>
                </p>
            </div>

            {% for tool in tools %}

                <div class="row result-entry">
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <a href="{{ path('tools.detail', { 'toolId': tool.id }) }}">
                            <img class="img-rounded img-responsive" src="{{ app.request.baseurl }}{{ tool.image }}" width="210px" height="140px">
                        </a>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-sm-7 col-md-9">
                                <h4 class="media-heading">
                                    <a href="{{ path('tools.detail', { 'toolId': tool.id }) }}">{{ tool.name }}</a>
                                    <small><em>{{ tool.start_date|date('d/m/Y') }} <strong>-</strong> {{ tool.end_date|date('d/m/Y') }}</em></small>
                                </h4>
                            </div>
                            <div class="col-sm-5 col-md-3">
                                <p>
                                    Cost/day: <strong>{{ tool.price_day == 0 ? 'Free' :  tool.price_day|number_format(2) ~ ' €'}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-sm-7 col-md-9">
                                City: <a href="{{ path('tools.overview') ~ '?filter=' ~ tool.code|url_encode }}">{{ tool.city }}</a><br/>
                                Province: <a href="{{ path('tools.overview') ~ '?filter=' ~ tool.province|url_encode }}">{{ tool.province }}</a>
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-7 col-md-9" >Categories:
                                <em>
                                    {% for categorie in tool.categories %}
                                        {{ categorie ~ ( not loop.last ? ', ' : '' ) }}
                                    {% endfor %}
                                </em>
                            </p>
                            <p class="col-sm-5 col-md-3"><a class="btn btn-info" role="button" href="{{ path('tools.detail', { 'toolId': tool.id }) }}">Details</a></p>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="col-xxs-12 text-center">
                {{ pagination|raw }}
            </div>
        </div>
    </div>

    {% block jq %}
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    pickTime: false,
                    format: 'DD/MM/YYYY'
                });
                $('#datetimepicker2').datetimepicker({
                    pickTime: false,
                    format: 'DD/MM/YYYY'
                });
                $("#datetimepicker1").on("dp.change",function (e) {
                    $('#datetimepicker2').data("DateTimePicker").setMinDate(e.date);
                });
                $("#datetimepicker2").on("dp.change",function (e) {
                    $('#datetimepicker1').data("DateTimePicker").setMaxDate(e.date);
                });
            });
        </script>
    {% endblock %}

{% endblock %}