{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'home' %}

{% block css %}

    <style>
        a.categorie-item {
            color: #0C3663;
            background-color: #E8E8E8;
            border-color: #FFFFFF;
            font-size: 13px;
        }
        a.categorie-item:hover {
            background-color: #F0F0F0;
        }
        div #sitemap {
            margin-top: 15px;
        }
    </style>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="jumbotron">
      <div class="container">
        <h1>Rent My Tools</h1>
        <p>Borrow expensive tools or rent out your own rarely-used tools. <br />
          And make or save a little money in the process.</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="{{ user ? path('tools.add') : path('auth.register') }}">
                {{ user ? 'Add a tool' : 'Register now' }}
            </a>
        </p>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Find the tool you need.</h2>
                    </div>
                    <div class="panel-body">

                        <form action="{{ path('tools.overview') }}" method="post" {{ form_enctype(searchform) }}
                              class="form-horizontal" novalidate="novalidate" role="form">
                            <div class="form-group">
                                {{ form_label(searchform.name, 'Tool name', { 'label_attr': {'class': 'col-sm-4 control-label'} } ) }}
                                <div class="col-sm-8">
                                    {{ form_widget(searchform.name, { 'attr' : { 'class': 'form-control', 'placeholder': 'Tool name' } } ) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(searchform.city, 'City', { 'label_attr': {'class': 'col-sm-4 control-label'} } ) }}
                                <div class="col-sm-8">
                                    {{ form_widget(searchform.city, { 'attr' : { 'class': 'form-control', 'placeholder': 'City / Postal code' } } ) }}
                                </div>
                            </div>

                            {{ form_widget(searchform._token) }}

                            <button type="submit" class="btn btn-info pull-right">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Categories</h2>
                    </div>
                    <div class="panel-body">
                        {% for categorie in categories %}
                            <a href="{{ path('tools.overview') ~ '?filter=' ~ categorie|url_encode }}" class="list-group-item col-lg-4 col-sm-6 categorie-item">
                                {{ categorie }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="sitemap" class="well well-lg clearfix">
            <div class="col-sm-6 col-md-3">
                <h6>Categorie</h6>
                <ul>
                    {% for categorie in categories %}
                        <li><a href="{{ path('tools.overview') ~ '?filter=' ~ categorie|url_encode }}"><small>{{ categorie }}</small></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h6>Province</h6>
                <ul>
                    {% for province in provinces %}
                        <li><a href="{{ path('tools.overview') ~ '?filter=' ~ province|url_encode }}"><small>{{ province }}</small></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h6>Cost per day</h6>
                <ul>
                    {% for key,value in cost %}
                        <li><a href="{{ path('tools.overview') ~ '?filter=' ~ key|url_encode }}"><small>{{ value }}</small></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h6>Contact</h6>
                <ul>
                    <li><a href="http://www.twitter.com"><small>Twitter</small></a></li>
                    <li><a href="http://www.facebook.com"><small>Facebook</small></a></li>
                    <li><a href="http://plus.google.com"><small>Google+</small></a></li>
                    <li><a href="mailto:adm.rentmytools@gmail.com"><small>Email</small></a></li>
                </ul>
                <h6>Account</h6>
                <ul>
                    {% if user %}
                        <li><a href="{{ path('profile.details', {profileId: user.id}) }}"><small>My Tools</small></a></li>
                        <li><a href="{{ path('auth.logout') }}"><small>Sign Out</small></a></li>
                    {% else %}
                        <li><a href="{{ path('auth.register') }}"><small>Register</small></a></li>
                        <li><a href="{{ path('auth.login') }}"><small>Sign In</small></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}