<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>

    <!-- Bootstrap -->
    <link href="{{ app.request.baseUrl }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom style for sticky footer (bootstrap template) -->
    <link href="{{ app.request.baseUrl }}/assets/css/sticky-footer.css" rel="stylesheet">

    <style>
        div#content {
            padding-bottom: 50px;
        }
    </style>

    {% block css %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    {% block js %}
    {% endblock %}

</head>
<body>

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Rent My Tools</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{ navActive == 'home' ? 'active' }}"><a href="{{ path('homepage') }}">Home</a></li>
                <li class="{{ navActive == 'tools' ? 'active' }}"><a href="{{ path('tools.overview') }}">Tools</a></li>
                {% if user %}
                    <li class="{{ navActive == 'mytools' ? 'active' }}"><a href="{{ path('profile.details', {profileId: user.id}) }}">My Tools</a></li>
                    <li><a href="{{ path('auth.logout') }}">Sign Out <small>({{ user.firstname|capitalize }})</small></a></li>
                {% else %}
                    <li class="{{ navActive == 'register' ? 'active' }}"><a href="{{ path('auth.register') }}">Register</a></li>
                    <li class="{{ navActive == 'signin' ? 'active' }}"><a href="{{ path('auth.login') }}">Sign In</a></li>
                {% endif %}
            </ul>
            <form action="{{ path('tools.overview') }}" method="post"
                  class="navbar-form navbar-right" novalidate="novalidate" role="search">
                <div class="form-group">
                    <div class="col-sm-8 col-xs-9">
                        <input type="text" id="globalsearch_name" name="globalsearch[name]" required="required" class="form-control" placeholder="Search" />
                    </div>
                    <div class="col-xs-3">
                        <button type="submit" class="btn btn-default">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="content">
    {% block pageContent %}
        Hello!
    {% endblock %}
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted">&copy; Rent My Tools 2014
            | <a href="mailto:adm.rentmytools@gmail.com">Contact</a>
            | <a href="{{ path('sitemap') }}">Sitemap</a>
        </p>
    </div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ app.request.baseUrl }}/assets/js/bootstrap.min.js"></script>

{% block jq %}
{% endblock %}

</body>
</html>




