{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - Sitemap' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = null %}

{% block css %}

    <style>
        div.sitemap-header {
            border-bottom: 1px solid #AAAAAA;
            margin-bottom: 15px;
        }
        .well .row {
            margin-bottom: 25px;
            margin-left: 10px;
            margin-right: 3px;
        }
    </style>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li class="active">Sitemap</li>
        </ol>

        <div class="page-header">
            <h1>Sitemap</h1>
        </div>

        <div class="well well-lg clearfix">
            <div class="row">
                <div class="sitemap-header">
                    <h3>General</h3>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h6>Main</h6>
                    <ul>
                        <li><a href="{{ path('homepage') }}"><small>Home</small></a></li>
                        <li><a href="{{ path('tools.overview') }}"><small>Tools</small></a></li>
                        <li><a href="{{ path('sitemap') }}"><small>Sitemap</small></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h6>Account</h6>
                    <ul>
                        {% if user %}
                            <li><a href="{{ path('profile.details', {profileId: user.id}) }}"><small>My Tools</small></a></li>
                            <li><a href="{{ path('auth.logout') }}"><small>Sign Out</small></a></li>
                        {% else %}
                            <li><a href="{{ path('auth.register') }}"><small>Register</small></a></li>
                            <li><a href="{{ path('auth.login') }}"><small>Sign In</small></a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h6>Contact</h6>
                    <ul>
                        <li><a href="http://www.twitter.com"><small>Twitter</small></a></li>
                        <li><a href="http://www.facebook.com"><small>Facebook</small></a></li>
                        <li><a href="http://plus.google.com"><small>Google+</small></a></li>
                        <li><a href="mailto:adm.rentmytools@gmail.com"><small>Email</small></a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div  class="sitemap-header">
                    <h3>Tools</h3>
                </div>

                <div class="col-sm-6 col-md-4">
                    <h6>Categorie</h6>
                    <ul>
                        {% for categorie in categories %}
                            <li><a href="{{ path('tools.overview') ~ '?filter=' ~ categorie|url_encode }}"><small>{{ categorie }}</small></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h6>Province</h6>
                    <ul>
                        {% for province in provinces %}
                            <li><a href="{{ path('tools.overview') ~ '?filter=' ~ province|url_encode }}"><small>{{ province }}</small></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h6>Cost per day</h6>
                    <ul>
                        {% for key,value in cost %}
                            <li><a href="{{ path('tools.overview') ~ '?filter=' ~ key|url_encode }}"><small>{{ value }}</small></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}