{# extend the parent tpl #}
{% extends 'profile/profile.twig' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'mytools' %}

{# overwrite the css block #}
{% block css %}

    <style>

        div#profile {
            max-width: 230px;
        }
        div.tab-content {
            padding-top: 40px;
        }
        ul.dropdown-menu .glyphicon-ok {
            color: green;
        }
        ul.dropdown-menu .glyphicon-ban-circle {
            color: red;
        }

    </style>

{% endblock %}

{% block toolPage %}

    <div class="col-sm-9 col-xs-12">
        <ul class="nav nav-tabs">
            <li class="{{ feedback not in ['accepted', 'declined'] ? 'active' }}"><a href="#myTools" data-toggle="tab">My Tools</a></li>
            <li class="{{ feedback in ['accepted', 'declined'] ? 'active' }}"><a href="#reservations" data-toggle="tab">Reservations</a></li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane {{ feedback not in ['accepted', 'declined'] ? 'active' }}" id="myTools">
                {% if feedback in ['added','edited','deleted','registered'] %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% if feedback == 'added' %}
                            <i class="glyphicon glyphicon-ok"></i> The tool was successfully added
                        {% elseif feedback == 'edited' %}
                            <i class="glyphicon glyphicon-ok"></i> The tool was successfully edited
                        {% elseif feedback == 'deleted' %}
                            <i class="glyphicon glyphicon-ok"></i> The tool was successfully deleted
                        {% elseif feedback == 'registered' %}
                            Welcome to RentMyTools {{ profile.firstname|title }}! <br/>
                            Get started right away and add some tools to your collection.
                        {% endif %}
                    </div>
                {% endif %}

                <p>
                    <a href="{{ path('tools.add') }}" class="btn btn-success btn-sm">
                        <i class="glyphicon glyphicon-plus"></i> Add new tool</a>
                </p>

                <div class="table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Available</th>
                            <th class="text-center">Price per day</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tool in tools %}
                            <tr>
                                <td>{{ tool.id }}</td>
                                <td><a href="{{ path('tools.detail', { 'toolId': tool.id}) }}">{{ tool.name }}</a></td>
                                <td>{{ tool.start_date|date('d/m/Y') }} <b>-</b> {{ tool.end_date|date('d/m/Y') }}</td>
                                <td class="text-center">{{ tool.price_day|number_format(2) }} &euro;</td>
                                <td class="text-right">
                                        <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                                                data-target="{{ '.delete' ~ tool.id }}" tabindex="-1"><i
                                                class="glyphicon glyphicon-trash"></i> Delete
                                        </button>
                                    </form>
                                </td>
                                <td class="text-right">
                                    <a href="{{ path('tools.edit', { 'toolId': tool.id }) }}"
                                       class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i>
                                        Edit</a>
                                </td>
                            </tr>
                            <div class="modal fade {{ 'delete' ~ tool.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <h4>Delete tool?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Are you sure want to delete this tool? Any reservations made for this
                                                tool will also be deleted.
                                            </p>

                                            <form action="{{ path('tools.delete', { 'toolId': tool.id}) }}" method="post"
                                                  class="delete">
                                                <button type="submit" class="btn btn-danger btn-sm"><i
                                                        class="glyphicon glyphicon-trash"></i> Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="tab-pane {{ feedback in ['accepted', 'declined'] ? 'active' }}" id="reservations">
                    {% if feedback in ['accepted', 'declined'] %}
                            <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {% if feedback == 'declined' %}
                                <i class="glyphicon glyphicon-ok"></i> The reservation was successfully declined.
                            {% elseif feedback == 'accepted'%}
                                <i class="glyphicon glyphicon-ok"></i> The reservation was successfully accepted.
                            {% endif %}
                        </div>
                    {% endif %}

                <div class="table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tool</th>
                            <th>Rentee</th>
                            <th>Period</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ reservation.id }}</td>
                                <td>
                                    <a href="{{ path('tools.detail', { 'toolId': reservation.tool_id } ) }}">{{ reservation.tool_name }}</a>
                                </td>
                                <td><a href="{{ path('profile.details', { 'profileId': reservation.rentee_id } ) }}">
                                    {{ reservation.rentee_firstname|title ~ ' ' ~ reservation.rentee_lastname|title }}
                                </a></td>
                                <td>{{ reservation.start_date|date('d/m/Y') }}
                                    <b>-</b> {{ reservation.end_date|date('d/m/Y') }}</td>
                                <td class="{{ reservation.status == 'accepted' ? 'text-success' : "text-primary" }}">{{ reservation.status }}</td>
                                <td class="text-right">
                                    {% if reservation.status == 'pending' %}
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle btn-primary btn-sm" type="button"
                                                    id="dropdownMenu{{ reservation.id }}" data-toggle="dropdown">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                <li role="presentation">
                                                    <a role="menuitem" data-toggle="modal"
                                                       data-target="{{ '.accept' ~ reservation.id }}" tabindex="-1" href="#"
                                                       class="text-left">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        Accept
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a role="menuitem" data-toggle="modal"
                                                       data-target="{{ '.decline' ~ reservation.id }}" tabindex="-1"
                                                       href="#" class="text-left">
                                                        <span class="glyphicon glyphicon-ban-circle red"></span> Decline
                                                    </a>
                                                </li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" data-toggle="modal"
                                                                           data-target="{{ '.message' ~ reservation.id }}"
                                                                           tabindex="-1" href="#" class="text-left">
                                                    Read message
                                                </a></li>
                                            </ul>
                                        </div>
                                    {% else %}
                                        <button class="btn btn-info btn-sm" type="button" data-toggle="modal"
                                                data-target="{{ '.message' ~ reservation.id }}"
                                                tabindex="-1">
                                            Message
                                        </button>
                                    {% endif %}
                                </td>

                            </tr>
                            {% if reservation.status == 'pending' %}
                                <div class="modal fade {{ 'accept' ~ reservation.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4>Accept reservation?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Are you sure want to accept this reservation? Upon accepting this information
                                                    we will exchange your contact and address information with the rentee.
                                                </p>

                                                <form action="{{ path('reservations.accept', { 'reservationId': reservation.id } ) }}"
                                                      method="post">
                                                    <button type="submit" class="btn btn-primary btn-sm">Accept</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                </div>
                                <div class="modal fade {{ 'decline' ~ reservation.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4>Decline reservation?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure want to decline this reservation?</p>

                                                <form action="{{ path('reservations.decline', { 'reservationId': reservation.id } ) }}"
                                                      method="post">
                                                    <button type="submit" class="btn btn-danger btn-sm">Decline</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                </div>
                            {% endif %}
                            <div class="modal fade {{ 'message' ~ reservation.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <h4>{{ reservation.rentee_firstname|title ~ ' ' ~ reservation.rentee_lastname|title }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{ reservation.message }}</p>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
