{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - ' ~ profile.firstname|title ~ ' ' ~ profile.lastname|title %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <ol class="breadcrumb">
            {%  if user %}
                {% if profile.id == user.id %}
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="active">My Tools</li>
                {% else %}
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('tools.overview') }}">Tools</a></li>
                    <li class="active">{{ profile.firstname|title ~ ' ' ~ profile.lastname|title }}</li>
                {% endif %}
            {% else %}
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('tools.overview') }}">Tools</a></li>
                <li class="active">{{ profile.firstname|title ~ ' ' ~ profile.lastname|title }}</li>
            {% endif %}
        </ol>

        <div class="col-xs-12">

            <h1>{{ profile.firstname|title ~ ' ' ~ profile.lastname|title }}</h1>

        </div>
        <div class="col-sm-3 col-xs-12" id="profile">

            <div>
                <p>
                    <img class="img-rounded img-responsive" src="{{ app.request.baseurl }}{{ profile.picture }}" width="200px" height="200px">
                </p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    About
                </div>
                <div class="panel-body">
                    <p>
                        <small>
                            <strong>City:</strong> <a href="{{ path('tools.overview') ~ '?filter=' ~ profile.code|url_encode }}">{{ profile.city }}</a><br/>
                            <strong>Province:</strong> <a href="{{ path('tools.overview') ~ '?filter=' ~ profile.province|url_encode }}">{{ profile.province }}</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>

        {% block toolPage %}

        {% endblock %}

    </div>

{% endblock %}