{# extend the parent tpl #}
{% extends 'profile/profile.twig' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'tools' %}

{# overwrite the css block #}
{% block css %}

    <style>

        div#profile {
            max-width: 230px;
        }
        h2 {
            margin-top: 10px;
        }
        div.media-list > div.row > p {
            margin-bottom: 20px;
        }
        div.result-entry {
            padding-top: 20px;
            margin-bottom: 10px;
            border-top: solid #d3d3d3 1px;
        }
        div.result-entry > div:first-of-type {
            margin-bottom: 10px;
        }

    </style>

{% endblock %}

{% block toolPage %}

    <div class="col-sm-9 col-xs-12">

        <h2>Tools</h2>

        <div class="media-list">

            <div class="row">
                <p  class="text-center">
                    <small>{{ numitems }} items</small>
                </p>
            </div>

            {% for tool in tools %}

                <div class="row result-entry">
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a href="{{ path('tools.detail', { 'toolId': tool.id }) }}">
                            <img class="img-rounded img-responsive" src="{{ app.request.baseurl }}{{ tool.image }}" width="180px" height="120px">
                        </a>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div class="row">
                            <div class="col-sm-7 col-md-9">
                                <h4 class="media-heading">
                                    <a href="{{ path('tools.detail', { 'toolId': tool.id }) }}">{{ tool.name }}</a>
                                    <small><em>{{ tool.start_date|date('d/m/Y') }} <strong>-</strong> {{ tool.end_date|date('d/m/Y') }}</em></small>
                                </h4>
                            </div>
                            <div class="col-sm-5 col-md-3">
                                <p>
                                    Cost/day: <strong>{{ tool.price_day == 0 ? 'Free' :  tool.price_day|number_format(2) ~ ' €'}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-sm-7 col-md-9" >Categories:
                                <em>
                                    {% for categorie in tool.categories %}
                                        <a href="{{ path('tools.overview') ~ '?filter=' ~ categorie|url_encode }}">{{ categorie }}</a> {{ ( not loop.last ? ', ' : '' ) }}
                                    {% endfor %}
                                </em>
                            </p>
                            <p class="col-sm-5 col-md-3"><a class="btn btn-info" role="button" href="{{ path('tools.detail', { 'toolId': tool.id }) }}">Details</a></p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}