{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - 404 (File Not Found)' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = null %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <p>
            {{ error }}
        </p>
    </div>

{% endblock %}