{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - ' ~ tool.name %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'tools' %}

{# overwrite the css block #}
{% block css %}

    <style>

        div.well > div.row:first-of-type > div:first-of-type {
            margin-bottom: 10px;
        }
        div#similar-container {
            margin-top: 30px;
        }
        div.similar-tools {
            margin-bottom: 40px;
        }
        div.similar-tools img {
            max-width: 185px;
        }
        img.advert {
            margin-left: 20px;
        }
        img.advert:first-of-type {
            margin-bottom: 40px;
        }
        a#btn-back {
            margin-top: 10px;
        }

    </style>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('tools.overview') }}">Tools</a></li>
            <li><a href="{{ path('tools.detail', { 'toolId': tool.id }) }}">{{ tool.name|capitalize }}</a></li>
            <li class="active">Reservation</li>
        </ol>

        <div class="page-header">
            <h1>Reservation Completed</h1>
        </div>

        <div class="col-lg-7 col-md-9 col-sm-10">


            <p>
                Thank you {{ user.firstname|title }},
            </p>
            <p>
                we have successfully processed your request for the following tool:
            </p>


            <div class="well">
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <a href="{{ path('tools.detail', { 'toolId': tool.id }) }}">
                            <img class="img-rounded img-responsive" src="{{ app.request.baseurl }}{{ tool.images|first }}" width="210px" height="140px">
                        </a>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-sm-7 col-md-9">
                                <h4 class="media-heading"><a href="{{ path('tools.detail', { 'toolId': tool.id }) }}">{{ tool.name }}</a></h4>
                            </div>
                            <div class="col-sm-5 col-md-3">
                                <p>
                                    Cost/day: <strong>{{ tool.price_day == 0 ? 'Free' :  tool.price_day|number_format(2) ~ ' €'}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-sm-12">
                                City: <a href="{{ path('tools.overview') ~ '?filter=' ~ tool.code|url_encode }}">{{ tool.city }}</a><br/>
                                Province: <a href="{{ path('tools.overview') ~ '?filter=' ~ tool.province|url_encode }}">{{ tool.province }}</a>
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-7 col-md-9" >Categories:
                                <em>
                                    {% for categorie in tool.categories %}
                                        <a href="{{ path('tools.overview') ~ '?filter=' ~ categorie|url_encode }}">{{ categorie }}</a> {{ ( not loop.last ? ', ' : '' ) }}
                                    {% endfor %}
                                </em>
                            </p>
                            <p class="col-sm-1"><a class="btn btn-info" role="button" href="{{ path('tools.detail', { 'toolId': tool.id }) }}">Details</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <p>
                We notified the owner about your request and we will notify you as soon as the offer is accepted or rejected.
                If the offer is accepted you will receive an email with the required information to contact the owner of the tool.
            </p>
            <p>
                An email has been sent to your email address with the above information and a review of your request.
            </p>

            <p><a class="btn btn-primary" role="button" href="{{ path('tools.overview') }}" id="btn-back">Back to tools</a></p>


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" id="similar-container">
                    <h4>Similar tools</h4>
                    <div class="row">
                        {% for similartool in similartools %}
                            <div class="col-sm-4 similar-tools">
                                <a href="{{ path('tools.detail', { 'toolId': similartool.id }) }}">
                                    <img class="img-rounded img-responsive" src="{{ app.request.baseurl }}{{ similartool.image }}">
                                </a>
                                <a href="{{ path('tools.detail', { 'toolId': similartool.id }) }}"><h4>{{ similartool.name }}</h4></a>
                                <p>
                                    Cost per day: <strong>{{ similartool.price_day == 0 ? 'Free' :  similartool.price_day|number_format(2) ~ ' €'}}</strong>
                                </p>
                                <p >
                                    City: <a href="{{ path('tools.overview') ~ '?filter=' ~ similartool.code|url_encode }}">{{ similartool.city }}</a><br/>
                                    Province: <a href="{{ path('tools.overview') ~ '?filter=' ~ similartool.province|url_encode }}">{{ similartool.province }}</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 hidden-sm hidden-xs">
            <a href="http://www.google.com"><img src="http://placehold.it/190x320&text=ad" class="advert" /></a>
            <a href="http://www.google.com"><img src="http://placehold.it/190x320&text=ad" class="advert" /></a>
        </div>

        </div>


{% endblock %}