<ul class="pagination pagination-sm">

    {% set prevPage = curPage - 1 %}
    {% set nextPage = curPage + 1 %}

    {% if curPage > 1 %}
        <li class="previousPage"><a href="{{ path('tools.overview') }}?p={{ prevPage }}" data-p="{{ prevPage }}">&laquo;</a></li>
    {% else %}
        <li class="previousPage disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for page in pagination %}
    <li {% if page == curPage %} class="active"{% endif %}{% if page == '...' %} class="disabled"{% endif %}>
        {% if page == curPage %}
        <span>{{ page }}</span>
        {% elseif page == '...' %}
            <span>…</span>
        {% else %}
            <a href="{{ path('tools.overview') }}?p={{ page }}" data-p="{{ page }}">{{ page }}</a>
        {% endif %}
    </li>
    {% endfor %}

    {% if curPage < numPages %}
        <li class="nextPage"><a href="{{ path('tools.overview') }}?p={{ nextPage }}" data-p="{{ nextPage }}">&raquo;</a></li>
    {% else %}
        <li class="nextPage disabled"><span>&raquo;</span></li>
    {% endif %}

</ul>