{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - Sign in' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'signin' %}

{% block css %}

    <style>
        h2 {
            margin-bottom: 30px;
        }
    </style>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li class="active">Sign in</li>
        </ol>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <form role="form" action="{{ path('auth.login') }}" method="post" {{ form_enctype(loginform) }} novalidate="novalidate">{# disable HTML5 formchecking #}
                    <div class="well clearfix">
                        <h2 class="form-signin-heading">Sign In</h2>
                        <div class="form-group {% if not loginform.email.vars.valid %}has-error{% endif %}">
                            {{ form_label(loginform.email) }}
                            {{ form_widget(loginform.email, { 'attr' : { 'class': 'form-control', 'placeholder': 'Email address' }} ) }}
                            {% if not loginform.email.vars.valid %}
                                {% for error in loginform.email.vars.errors %}
                                    <small>{{ error.message|trans|capitalize }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group {% if not loginform.password.vars.valid %}has-error{% endif %}">
                            {{ form_label(loginform.password) }}
                            {{ form_widget(loginform.password, { 'attr' : { 'class': 'form-control', 'placeholder': 'Password' }} ) }}
                            {% if not loginform.password.vars.valid %}
                                {% for error in loginform.password.vars.errors %}
                                    <small>{{ error.message|trans|capitalize }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {{ form_widget(loginform._token) }}
                        <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block">Sign In </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}