{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Rent My Tools - Register' %}

{# set the active navigation item in the parent tpl #}
{% set navActive = 'register' %}

{% block css %}

    <style>
        form div.row {
            margin-bottom: 10px;
        }
    </style>

{% endblock %}

{# overwrite the pageContent block #}
{% block pageContent %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li class="active">Register</li>
        </ol>

        <div class="page-header">
            <h1>Registration</h1>
        </div>

        {% if not registerform.vars.valid %}
            <div class="row">
                <div class="col-lg-7 col-md-9 col-sm-11">
                    <div class="alert alert-danger">The form contains errors. Please fix these and try again</div>
                </div>
            </div>
        {% endif %}

        <form action="{{ path('auth.register') }}" method="post" {{ form_enctype(registerform) }} novalidate="novalidate" role="form">

            <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-5 {% if not registerform.firstname.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.firstname) }}
                    {{ form_widget(registerform.firstname, { 'attr' : { 'class': 'form-control', 'placeholder': 'Firstname' } } ) }}
                    {% if not registerform.firstname.vars.valid %}
                        {% for error in registerform.firstname.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group col-lg-3 col-lg-offset-1 col-md-4 col col-md-offset-1 col-sm-5 col-sm-offset-1 {% if not registerform.lastname.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.lastname) }}
                    {{ form_widget(registerform.lastname, { 'attr' : { 'class': 'form-control', 'placeholder': 'Lastname' } } ) }}
                    {% if not registerform.lastname.vars.valid %}
                        {% for error in registerform.lastname.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-5 {% if not registerform.address.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.address) }}
                    {{ form_widget(registerform.address, { 'attr' : { 'class': 'form-control', 'placeholder': 'Address' } } ) }}
                    {% if not registerform.address.vars.valid %}
                        {% for error in registerform.address.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-5 {% if not registerform.city.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.city) }}
                    {{ form_widget(registerform.city, { 'attr' : { 'class': 'form-control', 'placeholder': 'City' } } ) }}
                    {% if not registerform.city.vars.valid %}
                        {% for error in registerform.city.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group col-lg-3 col-lg-offset-1 col-md-4 col col-md-offset-1 col-sm-5 col-sm-offset-1 {% if not registerform.postal.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.postal, 'Postal code') }}
                    {{ form_widget(registerform.postal, { 'attr' : { 'class': 'form-control', 'placeholder': 'Postal code' } } ) }}
                    {% if not registerform.postal.vars.valid %}
                        {% for error in registerform.postal.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-5 {% if not registerform.email.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.email, 'Email address') }}
                    {{ form_widget(registerform.email, { 'attr' : { 'class': 'form-control', 'placeholder': 'Email' } } ) }}
                    {% if not registerform.email.vars.valid %}
                        {% for error in registerform.email.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-3 col-md-4 col-sm-5 {% if not registerform.password1.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.password1, 'Password') }}
                    {{ form_widget(registerform.password1, { 'attr' : { 'class': 'form-control', 'placeholder': 'Password' } } ) }}
                    {% if not registerform.password1.vars.valid %}
                        {% for error in registerform.password1.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group col-lg-3 col-lg-offset-1 col-md-4 col col-md-offset-1 col-sm-5 col-sm-offset-1
                    {% if not registerform.password2.vars.valid %}has-error{% endif %}">
                    {{ form_label(registerform.password2, 'Repeat password') }}
                    {{ form_widget(registerform.password2, { 'attr' : { 'class': 'form-control', 'placeholder': 'Repeat password' } } ) }}
                    {% if not registerform.password2.vars.valid %}
                        {% for error in registerform.password2.vars.errors %}
                            <small>{{ error.message|trans|capitalize }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-7 col-md-9 col-sm-11 {% if not registerform.picture.vars.valid %}has-error{% endif %}">
                    <label for="registerform_picture" class="required">Upload picture <small>(Optional)</small></label>
                    <input type="file" id="registerform_picture" name="registerform[picture]" required="required" class="form-control">
                    <p class="help-block">Only jpg images allowed. (Max file size = 1MB)</p>
                </div>
            </div>

            {{ form_widget(registerform._token) }}
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>

{% endblock %}