{% block subject %}
Reservation accepted: {{ toolname }}
{% endblock %}

{% block body %}
    <p>
        Hi {{ info.rentee_firstname|title }}, we are happy to inform you that your reservation request for the following tool has been accepted:
        <a href="{{ url('tools.detail', { 'toolId': info.tool_id } ) }}">{{ info.tool_name }}</a>
    </p>
    <p>
        The time interval of the requested reservation is: {{ info.start_date|date('d/m/Y') ~ ' - ' ~ info.end_date|date('d/m/Y') }}
    </p>

    <p>
        You can use the following information to contact the owner of the tool and arrange the agreement:
    </p>
    <blockquote>
        {{ owner.firstname|title ~ ' ' ~ owner.lastname|title }}<br/>
        {{ owner.address }}<br/>
        {{ owner.code ~ ' ' ~ owner.city }}<br/>
        <br/>
        <a href="mailto:{{ owner.email }}">{{ owner.email }}</a>
    </blockquote>
{% endblock %}