{% block subject %}
Reservation accepted: {{ toolname }}
{% endblock %}

{% block body %}
    <p>
        Hi {{ owner.firstname|title }}, you have accepted a reservation for the following tool:
        <a href="{{ url('tools.detail', { 'toolId': info.tool_id } ) }}">{{ info.tool_name }}</a>
    </p>
    <p>
        The time interval of the requested reservation is: {{ info.start_date|date('d/m/Y') ~ ' - ' ~ info.end_date|date('d/m/Y') }}
    </p>

    <p>
        You can use the following information to contact the rentee and arrange the agreement:
    </p>
    <blockquote>
        {{ info.rentee_firstname|title ~ ' ' ~ info.rentee_lastname|title }}<br/>
        {{ info.rentee_address }}<br/>
        {{ info.rentee_code ~ ' ' ~ info.rentee_city }}<br/>
        <br/>
        <a href="mailto:{{ info.rentee_email }}">{{ info.rentee_email }}</a>
    </blockquote>
{% endblock %}