{% block subject %}
Reservation declined: {{ toolname }}
{% endblock %}

{% block body %}
    <p>
        Hi {{ info.firstname|title }}, we are sorry to inform you that your reservation request for the following tool has been declined:
        <a href="{{ url('tools.detail', { 'toolId': info.tool_id } ) }}">{{ info.tool_name }}</a>
    </p>
    <p>
        The time interval of the requested reservation is: {{ info.start_date|date('d/m/Y') ~ ' - ' ~ info.end_date|date('d/m/Y') }}
    </p>

    <p>
        Consider taking a look at some similar items people are offering on our <a href="{{ url('tools.overview')}}?filter={{ info.tool_categorie|url_encode }}">tool page.</a>
    </p>
{% endblock %}