{% block subject %}
Welcome to RentMyTools!
{% endblock %}

{% block body %}
Hi {{ user.firstname }}, we've created a new RentMyTools ID for you using the following email address:

    {{ user.email }}
{% endblock %}