{% block subject %}
Reservation request: {{ toolname }}
{% endblock %}

{% block body %}
    <p>
        Hi {{ firstname|title }}, we have successfully processed your request for the following tool:
        <a href="{{ url('tools.detail', { 'toolId': tool.id } ) }}">{{ tool.name }}</a>
    </p>
    <p>
        The time interval of the requested reservation is: {{ start_date|date('d/m/Y') ~ ' - ' ~ end_date|date('d/m/Y') }}
    </p>

    <p>
        We notified the owner about your request and we will notify you as soon as the offer is accepted or rejected.<br/>
        If the offer is accepted you will receive an email with the required information to contact the owner of the tool.
    </p>
{% endblock %}