{% block subject %}
Reservation request: {{ toolname }}
{% endblock %}

{% block body %}
    <p>
        Hi {{ owner.firstname|title }},
        <a href="{{ url('profile.details', { 'profileId': rentee.id } ) }}">{{ rentee.firstname|title ~ ' ' ~ rentee.lastname|title }}</a>
        has requested a reservation for the following tool:
        <a href="{{ url('tools.detail', { 'toolId': tool.id } ) }}">{{ tool.name }}</a>
    </p>
    <p>
        The time interval of the requested reservation is: {{ start_date|date('d/m/Y') ~ ' - ' ~ end_date|date('d/m/Y') }}
    </p>

    <p>
        <a href="{{ url('profile.details', { 'profileId': rentee.id } ) }}">{{ rentee.firstname|title ~ ' ' ~ rentee.lastname|title }}</a>
        left you the following message:
        <blockquote>
            {{ message }}
        </blockquote>
    </p>

    <p>
        You can accept or decline the request at your <a href="{{ url('profile.details', { 'profileId': owner.id } ) }}">profile page</a>.<br/>
        We would like to remind you that upon accepting the request we will exchange your address and email address information.
    </p>
{% endblock %}